<!--The content below is only a placeholder and can be replaced.-->
<div class="user-box">
  <div *ngIf="!isLoggedIn()">
    <a href="javascript:void(0)" (click)="login()" >
      <i class="material-icons circle grey lighten-5 padding-5">people</i>
    </a>
  </div>
  <div *ngIf="isLoggedIn()">
    <div class="chip">
      <img attr.src="{{user.photoURL}}">
      {{user.displayName}}
      <a href="javascript:void(0)" (click)="logout()" >
        <i class="close material-icons">power_settings_new</i>
      </a>
    </div>

  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s2"></div>
    <div class="col s8">
      <form (submit)="create($event, textField.value); textField.value=''" >
        <div class="input-field col s12">
          <input id="course" type="text" class="validate" #textField>
          <label for="course">Qual o curso que pretende adicionar?</label>
        </div>
      </form>
    </div>
    <div class="col s2"></div>
  </div>
  <div class="row">
    <div class="col s2"></div>
    <div class="col s8">
      <ul class="collection">
        <li class="collection-item" *ngFor="let item of items | async">
          <div>
            <span [ngClass]="item.color" class="white-text padding-5">{{ item.title }}</span>
            <span class="badge">{{item.votes}}</span>
            <a class="secondary-content"><i class="material-icons" (click)="update(item.$key)">thumb_up</i></a>
            <a class="secondary-content red-text"><i class="material-icons orange-text" (click)="disVote(item.$key)">thumb_down</i></a>
            <a class="secondary-content red-text"><i class="material-icons" (click)="remove(item.$key)">delete</i></a>
          </div>
        </li>
      </ul>
    </div>
    <div class="col s2"></div>
  </div>
</div>

